/* Styles of jLips website
 *
 *
 *
 * $Log: style.css,v $
 *
 */


<style type="text/css">
p.version {
    text-decoration: underline;
}

pre.code {
    text-align: left;
	font-family: courier;
	background: silver;
	padding: 10px;
}

td.menu, 
td.body {
    vertical-align: top;
}
    
td.menu {
    text-align: center;
    width: 150px;
}

td.body {
    font-family: sans-serif;
	font-size: smaller;
    padding-left: 10px;
}

table.footer {
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    background-color: lightcyan;
    font-size:smaller;
    text-align:center;
    width:100%;
}

table.menu-item {
    font-family: sans-serif;
    background-color: #ccccff;
    padding: 10px;
}

td.menu-item0, 
td.menu-item1, 
td.menu-item2, 
td.menu-item0selected, 
td.menu-item1selected, 
td.menu-item2selected {
    text-align: left;
}

td.menu-item1, 
td.menu-item1selected {
    text-indent: 1em;
    font-size: smaller;
}

td.menu-item2, 
td.menu-item2selected {
    text-indent: 2em;
    font-size: smaller;
}

td.menu-item0selected, 
td.menu-item1selected, 
td.menu-item2selected {
    font-weight: bold;
}

img.float-right {
    float: right;
}

img.center {
    text-align: center;
}

</style>